<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>html prueba</title>
  </head>
  <body>
    <header>
      <img src="images/logo-mercado-liebre.svg" alt=" logo-mercado-liebre" />
      <input type="text" placeholder="Buscar productos" />
      <button>icono lupa</button>
      <h3>Compra en cuotas y sin tarjeta de credito</h3>
      <nav>
        <ul>
          <li>Ofertas</li>
          <li>Tiendas oficiales</li>
          <li>Vender</li>
          <li>Ayuda</li>
          <li>Crea tu cuenta</li>
          <li>Ingresar</li>
          <li>Mis compras</li>
        </ul>
      </nav>

      <h1>Grupo 3 Rules</h1>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
