<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MercadoLiebre</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <header>
    <img src="images/logo-mercado-liebre.svg" alt=" logo-mercado-liebre" />
    <br />
    <input type="text" placeholder="Buscar productos" /><br>
    <button><i class="fas fa-search"></i></button>
    <h3 id="centradoh3"><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</h3>
    <nav>
      <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
        <br />
        <li><a href="#">Crea tu cuenta <i class="fas fa-id-card icono"></i></a></li>
        <li><a href="#">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
      </ul>
    </nav>
    <div class="burger-menu">
      <button>
      <i class="fas fa-bars"></i>
    </button>
      </div>
  </header>
  <main>

    <img id= "centradoh3" src="images/img-home-banner.jpg" alt="banner" width="100%" />
    <!-- Primera seccion-->

    <section>
      <h3 class="titulares">Basado en tu ultima visita</h3>
      <div>
        <img src="/images/img-cafetera-moulinex.jpg" alt="imagen-cafetera-moulinex" width="200px" />
        <h4 id="precio">$6670</h4>
        <h4 id="descdesc">40% OFF</h4>
        <h4 id="descdesc">Cafetera Moulinex</h4>
        <img src="/images/img-macbook-pro-2019.jpg" alt="imagen-macbook" width="200px" />
        <h4 id="precio">$23000</h4>
        <h4 id="descdesc">20% OFF</h4>
        <h4 id="descdesc">MacBook Pro 2019</h4>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen-galaxy-s10" width="200px" />
        <h4 id="precio">$70500</h4>
        <h4 id="descdesc">10% OFF</h4>
        <h4 id="descdesc">Samsung Galaxy S10</h4>
        <img src="/images/img-tv-samsung-smart.jpg" alt="Smart-TV" width="200px" />
        <h4 id="precio">$23200</h4>
        <h4 id="descdesc">5% OFF</h4>
        <h4 id="descdesc">SmartTv Samsung 43"</h4>
      </div>
    </section>

    <!-- Segunda seccion-->

    <section>
      <h3 class="titulares">Sección de Ofertas</h3>
      <div>
        <img src="/images/img-cafetera-moulinex.jpg" alt="imagen-cafetera-moulinex" width="200px" />
        <h4 id="precio">$6670</h4>
        <h4 id="descdesc">40% OFF</h4>
        <h4 id="descdesc">Cafetera Moulinex</h4>
        <img src="/images/img-macbook-pro-2019.jpg" alt="imagen-macbook" width="200px" />
        <h4 id="precio">$23000</h4>
        <h4 id="descdesc">20% OFF</h4>
        <h4 id="descdesc">MacBook Pro 2019</h4>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen-galaxy-s10" width="200px" />
        <h4 id="precio">$70500</h4>
        <h4 id="descdesc">10% OFF</h4>
        <h4 id="descdesc">Samsung Galaxy S10</h4>
        <img src="/images/img-tv-samsung-smart.jpg" alt="Smart-TV" width="200px" />
        <h4 id="precio">$23200</h4>
        <h4 id="descdesc">5% OFF</h4>
        <h4 id="descdesc">SmartTv Samsung 43"</h4>
      </div>
    </section>
  </main>
  <footer>

    <!-- Secciones del footer-->

    <section>
      <i class="fas fa-credit-card"></i>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!
      </p>
    </section>
    <section>
      <i class="fas fa-gift"></i>
      <h4>Envio gratis desde $2500</h4>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.
      </p>
    </section>
    <section>
      <i class="fas fa-user-shield"></i>
      <h4>Seguridad, de principio a fin</h4>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.
      </p>
    </section>
    <section>
      <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </section>
  </footer>
</body>

</html>