<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>html prueba</title>
  </head>
  <body>
    <header>
      <img src="images/logo-mercado-liebre.svg" alt=" logo-mercado-liebre" />
      <input type="text" placeholder="Buscar productos" />
      <button>icono lupa</button>
      <h3>Compra en cuotas y sin tarjeta de credito</h3>
      <nav>
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
          <li><a href="#">Crea tu cuenta</a></li>
          <li><a href="#">Ingresa</a></li>
          <li><a href="#">Mis compras</a></li>
        </ul>
      </nav>

      <h1>Grupo 3 Rules</h1>
    </header>
    <main>
      <section></section>
      <section></section>
    </main>
    <footer></footer>
  </body>
</html>
