@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

/*Estilos en el header*/
header {
  background-color: #eac926;
  width: 100vw;
}
a {
  color: black;
}
.img-general {
  width: 30vw;
}
.burger-menu {
  color: white;

  text-align: center;
}
.button_blue {
  background-color: #1259c3;
  color: white;
}

/*Estilos en el main*/
main {
  width: 90vw;
  text-align: center;
}
.titulares {
  width: 100vw;
  font-size: 24px;
}
.precio {
  font-size: 18px;
}
.descdesc {
  font-size: 16px;
}

.centradoh3 {
  text-align: center;
  width: 100vw;
}
main div {
  margin-bottom: 10px;
  border-top: 1px solid #ebebeb;
  padding: 0 15px 0 15px;
}

/*Estilos en el footer*/
footer {
  width: 100vh;
  text-align: center;
}
footer i {
  font-size: 2em;
  margin-bottom: 10px;
  color: #1259c3;
}

@media (max-width: 361px) {
  .descdesc {
    display: none;
  }
}

@media (min-width: 361px) {
}

@media (min-width: 769px) {
}
