@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
img {
  width: 50vh;
}
.titulares {
  width: 100vh;
  font-size: 24px;
}
#precio {
  font-size: 18px;
}
#descdesc {
  font-size: 16px;
}

#centradoh3 {
  width: 100vh;
  text-align: center;
}

.burger-menu button {
  text-align: center;
  color: white;
  background-color: #1259c3;
}

header {
  background-color: #eac926;
  width: 100vh;
  box-sizing: border-box;
}

/*Estilos en el footer*/
footer {
  width: 100vh;
  text-align: center;
}
footer i {
  font-size: 2em;
  margin-bottom: 10px;
  color: #1259c3;
}

@media (max-width: 361px) {
  .descdesc {
    display: none;
  }
}

@media (min-width: 361px) {
}

@media (min-width: 769px) {
}
